* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GERAL */
body {
  background: #0b0d0f;
  color: #EBF1FB;
  text-align: center;
  padding-top: 275px;
}

h1 {
  font-weight: 400;
  font-size: 64px;
  line-height: 120px;
}

p {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

a {
  padding: 16px 32px;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #EBF1FB;
}

/* ESPECÍFICOS */
#links {
  padding-top: 72px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

#recipes {
  background: #5EEAD4;
  color: #0B0C0E;
  text-decoration: none;
  border-radius: 8px;
}